body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
  position: absolute;
  width: 254px;
  height: 41px;

  font-family: Seaweed Script, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  letter-spacing: 0.51em;
  color: #FF8A00;
}


.list-cocktails{

}
.button-apply{
  position: absolute;
  width: 180px;
  height: 39px;
  left: 34px;
  top: 460px;

  background: #4E4E4E;
  border-radius: 10px;
}
