/*@font-face {*/
/*    font-family: Roboto; !* Гарнитура шрифта *!*/
/*    src: url(..src/fonts/Roboto.tff); !* Путь к файлу со шрифтом *!*/

/*    font-family: Seaweed Script; !* Гарнитура шрифта *!*/
/*    src: url(..src/fonts/SeaweedScript-Regular.ttf); !* Путь к файлу со шрифтом *!*/

/*}*/

body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: Seaweed Script;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 7px;
    letter-spacing: 0.51em;
    color: #FF8A00;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sider {
    border-left: 1px solid #D0D0D0;
}

.checkbox-filter {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #818181;
    padding: 20px;
    height: 100%;
    border-right: 1px solid #D0D0D0;
}

.item-filter {
    margin: 10px;
}

.card-cocktail {
    display: flex;
    width: 20%;
    min-width: 250px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.card-category {
    min-width: 250px;
    height: 70px;
    border-bottom: 1px solid #D0D0D0;
    margin: 20px;
    padding-top: 10px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #818181;
}


.list-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /*height:  100%;*/
    /*overflow: auto;*/
}

.list-cocktails {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height:  100%;*/
    /*overflow: auto;*/
}

.loading {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #818181;
}

.button-apply {
    width: 180px;
    height: 39px;
    margin-top: 50px;
    background: #4E4E4E;
    border-radius: 10px;
}

.img-card {
    width: 65%;
    border-radius: 10px;
}
